<!DOCTYPE html>
<html lang="ja">

<head>
  <title>ログイン</title>
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <h1 class="display-4">サインインしてください</h1>
    <hr />
    <div class="card">
      <h5 class="card-header text-danger">チャットを行うにはサインインが必要です</h5>
      <div class="card-body">
        <p>サインインに使用するサービスを選んでください。</p>
        <ul>
          <li>
            <a href="/auth/login/facebook">Facebook</a>
          </li>
          <li>
            <a href="/auth/login/github">GitHub</a>
          </li>
          <li>
            <a href="/auth/login/google">Google</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>

</html>
